/* Error Toast */
.Toastify__toast--error {
  border: 1px solid #e53935;
  background: #fce4e4;
  color: #b71c1c;
}
.Toastify__toast--error:after {
  content: "عملیات ناموفق";
  color: #b71c1c;
}
.Toastify__progress-bar--error {
  background-color: #e53935;
}

/* Warning Toast */
.Toastify__toast--warning {
  border: 1px solid #ffb300;
  background: #fff8e1;
  color: #ff6f00;
}
.Toastify__toast--warning:after {
  content: "اخطار";
  color: #ff6f00;
}
.Toastify__progress-bar--warning {
  background-color: #ffb300;
}

/* Info Toast */
.Toastify__toast--info {
  border: 1px solid #1e88e5;
  background: #e3f2fd;
  color: #1565c0;
}
.Toastify__toast--info:after {
  content: "اطلاعیه";
  color: #1565c0;
}
.Toastify__progress-bar--info {
  background-color: #1e88e5;
}

/* Success Toast */
.Toastify__toast--success {
  border: 1px solid #43a047;
  background: #e8f5e9;
  color: #1b5e20;
}
.Toastify__toast--success:after {
  content: "عملیات موفق";
  color: #1b5e20;
}
.Toastify__progress-bar--success {
  background-color: #43a047;
}
