@charset "UTF-8";
.Toastify__toast-container {
  z-index: 99999;
  -webkit-transform: translate3d(0, 0, var(--toastify-z-index) px);
  position: fixed;
  padding: 4px;
  width: var(--toastify-toast-width);
  box-sizing: border-box;
  color: #fff;
}
.Toastify__close-button {
  position: absolute;
  left: 8px;
  top: 8px;
  border: 2px solid #5c5b5b;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  z-index: 2;
}
.Toastify__close-button > svg {
  width: 11px;
  height: 12px;
  position: absolute;
  top: 0;
  left: 1px;
}
.Toastify__toast-icon {
  display: none;
}
.Toastify__toast-theme--light {
  min-height: 75px !important;
  height: fit-content;
  padding: 0 48px 0 0;
  position: relative;
  border-radius: 8px;
  font-size: 12px;
}
.Toastify__toast-body {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
  border-radius: 8px 4px 4px 8px;
  padding-right: 10px;
  padding-top: 35px;
  padding-bottom: 20px;
}
.Toastify__toast-body:before {
  content: ' ';
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  filter: blur(2px);
  position: absolute;
  background-color: #fff;
  z-index: -1;
  border-radius: 9px 4px 4px 9px;
}
.Toastify__progress-bar {
  position: absolute;
  bottom: 10px;
  left: 8px !important;
  z-index: 99;
  width: calc(100% - 66px);
  height: 2px;
  border-radius: 128px !important;
}
.Toastify__progress-bar--rtl {
  transition-origin: left !important;
  left: 0;
  right: inherit;
}

.Toastify__toast--error {
  border: 1px solid #B00020;
  background: #B00020;
}
.Toastify__toast--error:before {
  content: ' ';
  height: 20px;
  width: 20px;
  color: #fff;
  position: absolute;
  right: 14px;
  top: calc(50% - 8px);
  border-radius: 50%;
  background: url("./toastifyIcons/error.svg") center center no-repeat;
  background-size: 16px 16px;
}
.Toastify__toast--error:after {
  position: absolute;
  top: 8px;
  right: 58px;
  content: 'عملیات ناموفق';
  width: 100px;
  height: 30px;
  color: #57585c;
  z-index: 2;
  font-size: 12px;
  line-height: 20px;
  font-family: IRANSans, sans-serif;
  font-weight: bold;
  text-align: right;
}
.Toastify__progress-bar--error {
  background-color: #B00020;
  box-shadow: 0 0 6px rgba(255, 60, 30, 0.6) !important;
}

.Toastify__toast--warning {
  border: 1px solid #FFAB00;
  background: #FFAB00;
}
.Toastify__toast--warning:before {
  content: ' ';
  height: 20px;
  width: 20px;
  color: #fff;
  position: absolute;
  right: 14px;
  top: calc(50% - 8px);
  border-radius: 50%;
  background: url("./toastifyIcons/warning.svg") center center no-repeat;
  background-size: 16px 16px;
}
.Toastify__toast--warning:after {
  position: absolute;
  top: 8px;
  right: 58px;
  content: 'اخطار';
  width: 100px;
  height: 30px;
  color: #57585c;
  z-index: 2;
  font-size: 12px;
  line-height: 20px;
  font-family: IRANSans, sans-serif;
  font-weight: bold;
  text-align: right;
}
.Toastify__progress-bar--warning {
  background-color: #FFAB00;
  box-shadow: 0 0 6px #FFAB00 !important;
}

.Toastify__toast--info {
  border: 1px solid #2E6AAC;
  background: #2E6AAC;
}
.Toastify__toast--info:before {
  content: ' ';
  height: 20px;
  width: 20px;
  color: #fff;
  position: absolute;
  right: 14px;
  top: calc(50% - 8px);
  border-radius: 50%;
  background: url("./toastifyIcons/info.svg") center center no-repeat;
  background-size: 16px 16px;
}
.Toastify__toast--info:after {
  position: absolute;
  top: 8px;
  right: 58px;
  content: 'اطلاعیه';
  width: 100px;
  height: 30px;
  color: #57585c;
  z-index: 2;
  font-size: 12px;
  line-height: 20px;
  font-family: IRANSans, sans-serif;
  font-weight: bold;
  text-align: right;
}
.Toastify__progress-bar--info {
  background-color: #2E6AAC;
  box-shadow: 0 0 6px rgba(46, 106, 172, 0.8) !important;
}

.Toastify__toast--success {
  border: 1px solid #038175;
  background: #038175;
}
.Toastify__toast--success:before {
  content: ' ';
  height: 20px;
  width: 20px;
  color: #fff;
  position: absolute;
  right: 14px;
  top: calc(50% - 8px);
  border-radius: 50%;
  background: url("./toastifyIcons/success.svg") center center no-repeat;
  background-size: 16px 16px;
}
.Toastify__toast--success:after {
  position: absolute;
  top: 8px;
  right: 58px;
  content: 'عملیات موفق';
  width: 100px;
  height: 30px;
  color: #57585c;
  z-index: 2;
  font-size: 12px;
  line-height: 20px;
  font-family: IRANSans, sans-serif;
  font-weight: bold;
  text-align: right;
}
.Toastify__progress-bar--success {
  background-color: #038175;
  box-shadow: 0 0 6px rgba(3, 129, 117, 0.8) !important;
}
