.ag-theme-alpine {
  width: 100%;
  height: 100%;
  --ag-selected-row-background-color: #f5f5f5;
}

.ag-theme-alpine,
.ag-root-wrapper {
  border-width: 0 !important;
  border-style: unset !important;
}

.ag-theme-alpine,
.ag-header {
  border: unset !important;
}

.ag-theme-alpine,
.ag-header-viewport {
  background: linear-gradient(
    90deg,
    rgba(234, 234, 238, 0.4) 0%,
    rgba(234, 234, 238, 0.4) 100%
  );
  border-radius: 8px 8px 0 0;
  border-image-width: unset !important;
}

.ag-theme-alpine,
.ag-row,
.ag-row-odd,
.ag-row-even {
  min-height: 48px !important;
}

.ag-theme-alpine,
.ag-row:hover {
  background: #f5f5f5;
}

.ag-theme-alpine .ag-row-selected {
  background: linear-gradient(
    90deg,
    rgba(234, 234, 238, 0.4) 0%,
    rgba(234, 234, 238, 0.4) 100%
  );
}

.ag-theme-alpine,
.ag-cell {
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
}

.ag-theme-alpine .ag-checkbox-input-wrapper {
  border-radius: 5px !important;
}

.ag-theme-alpine .ag-checkbox-input-wrapper::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 2px solid rgba(0, 0, 0, 0.6) !important;
}

.ag-theme-alpine .ag-checkbox-input-wrapper.ag-checked::after {
  content: "\\f106" !important;
  color: #283593;
  border: unset !important;
}

.ag-theme-alpine .ag-checkbox-input-wrapper.ag-indeterminate::after {
  content: "\\f107";
  color: #283593;
  border: unset !important;
}

.ag-theme-alpine .ag-ltr .ag-cell-focus:not(.ag-cell-range-selected),
.ag-theme-alpine .ag-rtl .ag-cell-focus:not(.ag-cell-range-selected),
.ag-theme-alpine .ag-cell-range-single-cell,
.ag-theme-alpine .ag-cell-range-single-cell.ag-cell-range-handle {
  border: 1px solid #283593;
  outline: initial;
}

.ag-theme-alpine .ag-checkbox-input-wrapper:focus-within,
.ag-theme-alpine .ag-checkbox-input-wrapper:active,
.ag-theme-alpine .ag-toggle-button-input-wrapper:focus-within,
.ag-theme-alpine .ag-radio-button-input-wrapper:focus-within,
.ag-theme-alpine .ag-radio-button-input-wrapper:active {
  box-shadow: unset;
}

.ag-theme-alpine .ag-overlay > .ag-overlay-panel > .ag-overlay-loading-wrapper {
  background: unset;
  border: unset;
}

.ag-theme-alpine
  .ag-overlay
  > .ag-overlay-panel
  > .ag-overlay-wrapper
  > .ag-layout-normal
  > .ag-overlay-loading-center {
  border: unset !important;
  background: #7af50b !important;
  border-radius: 4px !important;
  box-shadow: 0 1px 4px 1px rgba(186, 191, 199, 0.4) !important;
  padding: 6px !important;
  width: 100% !important;
  height: inherit !important;
}

.a-theme-alpine > .ag-theme-alpine > .ag-rtl {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
}
